<center> 
    <h3 style="color: lightskyblue">Your places </h3>
</center>
     <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title"><%=weather.city %>,<%=weather.country%> </h3>
            <h2 class="card-text"><%=weather.description %></h2>
            <P class="card-text"><b> temperature </b><%=weather.temperature %></P>
            <P class="card-text"><b>what it feels like</b> <%=weather.feels_like %></P>
            <P class="card-text"><b>minimum temp</b> <%=weather.min_temp %></P>
            <P class="card-text"><b>max temp</b> <%=weather.max_temp %></P>
            <P class="card-text"><b>humidity</b> <%=weather.humidity %></P>
        </div>
    
    </div>
    <center>
         <form action="/weather/save">
            <button class="btn btn-dark" style="color: lightskyblue" data-toggle="popover">view saved places</button>
        </form>
    </center>