<h2>Your weather page</h2>


<h3> Your searches will be added to your profile</h3>

<form action="/weather" method="POST">
    <label for="city">City, State</label>
    <input type="text" name="city" id="city" placeholder="enter a city and state(country)"> 
    <button type="submit">Search</button>
</form>

<div class="weather">
    <h2><%= myWeather.name %> , <%= myWeather.sys.country %> </h2>
    <h2><%= myWeather.weather[0].descripton %> </h2>
    <h3><%= myWeather.weather[0].main %> </h3>

    <img src="http://openweathermap.org/img/wn/<%= myWeather.weather[0].icon %>@2x.png" width="80px" height="80px" alt="">
    
        <p><b> temperature </b> <%= myWeather.main.temp  %> </p>
        
        <p><b>what itfeels like</b> </b> <%= myWeather.main.feels_like  %> </p>
        
        <p><b>minimum temp</b> <%= myWeather.main.temp_min %> </p>
        
        <p><b>max temp</b> <%=myWeather.main.temp_max  %> </p>
        
        <p><b>humidity</b> <%= myWeather.main.humidity %> </p>

</div> 