<h2>Your weather page</h2>


<div class="weather">
    <h1><%= myWeather.name %> </h1>
    


        <p><b> temp</b> <%= myWeather.main.temp  %> </p>
        
        <p><b> feels like</b> </b> <%= myWeather.main.feels_like  %> </p>
        
        <p><b>min</b> <%= myWeather.main.temp_min %> </p>
        
        <p><b>max</b> <%=myWeather.main.temp_max  %> </p>
        
        <p><b>humidity</b> <%= myWeather.main.humidity %> </p>
    
    </div> 